* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1f16;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #1a1f16;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Grape Nuts", cursive;
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #4a7856;
}

.nav-logo {
  width: 40px;
  height: 40px;
  filter: invert(40%) sepia(25%) saturate(575%) hue-rotate(83deg)
    brightness(97%) contrast(90%);
}

ul {
  list-style: none;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #4a7856;
  font-size: 2.5rem;
  margin: 4rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 40%;
}

.form__label {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.form__input {
  padding: 0.8rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid white;
  border-radius: 20px;
  color: #4a7856;
  font-size: 1rem;
  font-weight: bold;
}

.form__input:focus {
  outline: none;
  border: 3px solid #4a7856;
}

.form__input::placeholder {
  color: lightslategrey;
}

.form__select {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 20px;
  outline: none;
  color: #4a7856;
  font-size: 1rem;
}

.form__checkbox {
  appearance: none;
  background-color: white;
  border: 1px solid white;
  padding: 0.7rem;
  border-radius: 4px;
  position: relative;
  margin-left: 0.8rem;
}

.form__checkbox:checked {
  background-color: #4a7856;
}

.form__checkbox:checked::after {
  display: block;
  content: "\2714";
  color: #1a1f16;
  position: absolute;
  top: 2px;
  left: 5px;
}

.form__textarea {
  padding: 1rem 1.2rem;
  border-radius: 4px;
  border: 2px solid white;
  font-size: 1rem;
  resize: none;
}

.form__textarea:focus {
  outline: none;
}

.form__btn {
  width: 200px;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  cursor: pointer;
}

.form__btn--submit {
  background-color: #4a7856;
  color: #1a1f16;
}